html {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: helvetica, sans-serif;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	/* note: Ayuda a que no se deforma la tipografía en los diferentes navegadores. */
	background-color: #ffffff;
	color: #000;
}

body {
	overflow-x: hidden;
	/* note: Controla el contenido que se desborda en una caja, en este caso hidden oculta el contenido que se encuentra fuera de el tamaño dado de la caja sólo en el eje X */
}

*,
*::after,
*::before {
	-ms-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a {
	color: #fff;
	/* note: color de los enlcesc */
}

a:hover {
	color: #CCC;
	/* note: color de enlace en estado hover */
}

h1 {
	font-size: 32px;
	font-size: 2rem;
}

h2 {
	font-size: 28px;
	font-size: 1.75rem;
}

h3 {
	font-size: 24px;
	font-size: 1.5rem;
}

h4 {
	font-size: 20px;
	font-size: 1.25rem;
}

h5,
a,
abbr,
b,
code,
dfn,
em,
i,
li,
mark,
p,
pre,
strong {
	font-size: 16px;
	font-size: 1rem;
}

h6,
small {
	font-size: 12px;
	font-size: .75rem;
}

li {
	margin-left: 16px;
	margin-left: 1rem;
	list-style-type: inherit;
	list-style-position: inside;
}

abbr,
dfn,
em,
i {
	font-style: italic;
}

b,
strong {
	font-weight: bold;
}

code,
pre {
	font-family: monospace;
}

mark {
	background-color: yellow;
}

hr {
	margin: 16px auto;
	margin: 1rem auto;
	width: 100%;
	border: thin solid #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

table {
	border-collapse: collapse;
}

audio,
canvas,
img,
iframe,
picture,
progress,
svg,
video {
	display: inline-block;
	vertical-align: baseline;
	width: 100%;
	max-width: 100%;
	height: auto;
}

button,
input,
optgroup,
option,
select,
textarea {
	padding: 4px;
	padding: .25rem;
	font-family: inherit;
	font-size: 16px;
	font-size: 1rem;
	border: thin solid #000;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="checkbox"],
input[type="radio"],
label,
select {
	cursor: pointer;
}

*[disabled] {
	cursor: default;
	color: #999;
	background-color: #DDD;
}

textarea {
	resize: none;
}

::-moz-selection {
	color: #FFF;
	background-color: #CCC;
}

::selection {
	color: #FFF;
	background-color: #CCC;
}