.allvh {
	min-height: 100vh;
}

.fixed-top {
	padding-top: 4.2rem;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	background: #242121;
}

.logo {
	/* width: 3rem;
	height: 3rem; */
	color: #fff;
	text-indent: 9999px;
	/* note: esto es para cuando se requiere que un h1 tenga texto pero que en la presentación sea una imagen de fondo se aplica text-indent 9999px para recorrer el texto 9999px hacia la derecha */
	background: transparent url("../img/logo-leo.svg") no-repeat center;
	background-size: contain;
	/* note: al aplicar contain la imagen se adapta a la altura del contenedor */
}

/* .menu {
	font-weight: 600;
} */

.home {
	background-image: url(../img/imgOp/backHome.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 12.5rem;
}

.banner {
	font-family: "Montserrat";
	text-transform: uppercase;
	background-color: #242121;
	color: #fff;
}

.boton {
	font-size: 12px;
	font-size: 0.750em;
	margin-bottom: 1.5rem;
	margin-bottom: 24px;
	padding: .5rem 2rem;
	font-weight: 700;
	background: #fff;
	color: #2981af;
	border-radius: 8px;
	border: none;
}

.section-columns {
	background-color: #e3e4e5;
}

/* note: CSS Section 3Columns */

/* .col-group > div {
	padding: 1em 1em 0;
} */

.boton-numbers {
	padding: .5rem 2rem;
	text-transform: uppercase;
	font-weight: 600;
	background: #2981af;
	color: #fff;
}

@media screen and (min-width: 17.500em) {
	.section-numbers {
		background-image: url(../img/imgOp/backgroundSectionNumbers.jpg);
		background-size: contain;
		background-repeat: repeat-y;
		min-height: 25rem;
	}
	.section-video {
		padding-top: 125px;
		/* max-width: 619px; */
		height: 250px;
		height: 15.625em;
	}
	.button-video {
		font-size: 12px;
		font-size: 0.750em;
		padding: .5rem 2rem;
		font-weight: 700;
		background: #2981af;
		color: #fff;
		border-radius: 8px;
		text-decoration: none;
		text-transform: uppercase;
	}
}

@media screen and (min-width: 48em) {
	/* important: .section-video refiere al video en la sección del video después del nav */
	.section-video {
		padding-top: 0.1px;
		height: 400px;
		height: 25em;
	}
	.section-video iframe {
		margin-top: 26px;
		margin-top: 1.625em;
		max-width: 619px;
		height: 348px;
	}
	.col-group {
		overflow: hidden;
	}
	.col-group>div {
		float: left;
		width: 33.3333333%;
	}
	.section-numbers {
		background-image: url(../img/imgOp/backgroundSectionNumbers.jpg);
		background-size: contain;
		background-repeat: repeat-y;
		min-height: 12rem;
	}
}